<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1039481619130-t6ggsuvmj4762snfdm749tmashi3ts9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039481619130-t6ggsuvmj4762snfdm749tmashi3ts9a</string>
	<key>API_KEY</key>
	<string>AIzaSyBFnqv89jdjYuMicSWLlognZwD7YJ2GxSA</string>
	<key>GCM_SENDER_ID</key>
	<string>1039481619130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luis.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-bdddb</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-bdddb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039481619130:ios:abe67f8efe9702af</string>
	<key>DATABASE_URL</key>
	<string>https://uber-bdddb.firebaseio.com</string>
</dict>
</plist>